#game {
    width: 280px;
    height: 160px;
    position: relative;
    border: 2px solid black; /* optional for visibility */
}

#timer {
    position: absolute;
    top: 8px;
    right: 8px;
    font-weight: bold;
}

#heart {
    position: absolute;
    top: 8px;   /* specify position */
    left: 8px;  /* specify position */
    cursor: pointer;
}